h1    {
color: blue;
}
h2 {
    color: blue;
}
body {
    background-color: grey;
}

h1 {
    background-color: black;
}
h2 {
    background-color: black;
}
p {
margin-top: 10px;
margin-bottom: 100px;
margin-right: 150px;
margin-left: 100px;

}
p {
    font-size: 150%;
}
